NEXT_PUBLIC_SUPABASE_URL="https://gifztywicarguetvtukt.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="seyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdpZnp0eXdpY2FyZ3VldHZ0dWt0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk0NjY4MzUsImV4cCI6MjA5NTA0MjgzNX0.dMqH8K_zMIKab_qwmPFfrdYZl7qGPTlR37qmrAstyVIa_anon_key_aqui"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdpZnp0eXdpY2FyZ3VldHZ0dWt0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTQ2NjgzNSwiZXhwIjoyMDk1MDQyODM1fQ._faMg9nmzwqeUbYxmOpaorkhSaBI1aQwUgg7r8PdMSY"

`